// Button colors
$default-color: #e0b0d5;
$success-color: #ffcbd2;
$error-color: #ee6c4d;
$warning-color: #990000;
$info-color: #3e2cff;

// Grid color

$color1: #4f9589;
$color2: #fff2a7;
$color3: #ffcbd2;
$color4: #a1fff8;
$color5: #ff7373;
$color6: #c5a1ff;

//BreakPoint

$brk-pnt: 768px;